* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    background-color: white;
    text-align: center;
    font-family: Helvetica Neu, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #444;
    box-sizing: border-box;
}

button, select {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #ddd;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 16px;
    padding: 8px;
    min-width: 120px;
    border: none;
    margin: 0;
    -webkit-appearance: none;
}
.Jeeliz_custom {display: flex;/* align-items: center; *//* margin-right: 10px !important; */width: 100%;max-width: 100%;}

.Jeeliz_btns {display: flex;margin-right: 15px;}
button:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.content{
    /*height: 100vh;*/
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 0 3px black;
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
}
.headerTitle {
    font-size: 24pt;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-top: 12px;
}


#JeelizVTOWidget {
    flex-grow: 1;
    width: 100%;
    max-width: 1366px;
    position: relative;
    margin: auto;}

#JeelizVTOWidgetCanvas {
    width: calc(100% - 400px) !important;max-width: 100% !important;
    object-fit: cover;
}
#JeelizVTOWidgetChangeModelContainer > button img {max-width: 24px;margin-right: 10px;}

.buttonIcon {
    display: inline-block;
    margin-right: 8px;
}


.JeelizVTOWidgetControlsTop > button {
    width: 160px;

    margin-bottom: 10px;}


#JeelizVTOWidgetChangeModelContainer > button {
    width: 160px;
    /* min-width: auto; */
    margin-bottom: 10px;display: flex;align-items: center;justify-content: center;}

#JeelizVTOWidgetLoading {
    position: fixed;
    z-index: 4;
    cursor: wait;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.productSummary.current {
    border-color: red;
    border-radius: 5px;
}
.JeelizVTOWidgetLoadingText {
    color: white;
    font-size: 32pt;
    margin-top: 40vh;
}

#JeelizVTOWidgetAdjustNotice {
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 3;
    font-size: 16px;
    bottom: 0;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    display: none;
}

#JeelizVTOWidgetAdjustExit {
    border: 1px solid white;
    background: transparent;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

/* Hide everything, stuffs will be displayed by JeelizVTOWidget: */
#JeelizVTOWidgetAdjust {
    display: none;
}
#JeelizVTOWidgetChangeModelContainer {
    width: 400px;max-height: 600px;overflow: auto;;;}
#buttonResizeCanvas {
    display: none;
}




/*left bar custom design*/

.productSummary {
    display: flex;
    flex-wrap: wrap;
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 5px;
    max-width: 450px;
    border-radius: 5px;border: 1px solid white;margin-bottom: 19px;}

.productSummary__imgPrice {
    width: 50%;
    position: relative;
    height: 100%;
}

.productSummary__titleSeeMore {
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.device-desktop .productSummary__imgPrice__container {
    height: 80%;
}

.productSummary__imgPrice__container img {
    width: 80%;
}

.productSummary__title {
    margin-bottom: 3px;
    overflow: hidden;


;
}

.productSummary__titleSeeMore__seeMore {
    display: flex;
    justify-content: flex-start;
    width: 100%;


}

.productSummary__titleSeeMore__seeMore button {
    width: 100%;
    padding: 0;
    border-radius: 3px;

    display: flex;
    align-items: center;

    justify-content: center;transition: all .2s;
    border: 0;
    color: #fff;
    background: #3a85fb;
    font-size: 16px;
    transition: background .2s;
    height: 30px;

}
.productSummary__titleSeeMore__seeMore button img {
    max-width: 28px;
    margin-right: 9px;
}
.productSummary__titleSeeMore__seeMore__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}



.side_btns buttons {display: flex;align-items: center;justify-content: center;}

.side_btns {display: flex;align-items: center;justify-content: center;position: fixed;bottom: 0;right: 0;margin: auto;width: calc(100% - 415px) !important;}

.side_btns buttons img {max-width: 20px;}

.side_btns button {display: flex;align-items: center;width: 160px;height: 40px;font-size: 16px;background: #000;color: #fff;border-radius: 0;justify-content: center;width: 100%;border: 1px solid #7b7575;}

.side_btns button img {width: 25px;}




.container-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;left: 22px;top: 13px;display: none;}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.cart_btn {
    min-width: 20px !important;
    margin-left: 5px;
    font-size: 15px !important;
    background: green !important;
}
.price__span > span
{
    margin-left: 10px;
}
@media (max-width: 1366px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {
    #JeelizVTOWidgetChangeModelContainer {
        width: 320px;
        max-height: 600px;
        padding: 0px 10px 0px 0px;}
    #JeelizVTOWidgetCanvas {
        width: calc(100% - 300px) !important;
    }
}


@media (max-width: 768px) {

    .side_btns button {
        width: 100%;
        margin: 0;
        border-radius: 0;
        border: 1px solid #7b7575;
    }
    .side_btns {
        flex-wrap: initial;
        width: 100% !important;
    }
    .mobile__view button {
        width: 100%;
        height: 44px;
        border: 1px solid #dadada;
    }
    #buttonResizeCanvas {
        display: block;
    }
    #JeelizVTOWidgetAdjust {
        display: block;
    }
    .mobile__view {
        position: fixed;
        z-index: 99999999 !important;
        left: 0;
        bottom: 0;
        display: block !important;
        width: 100%;
        display: flex !important;
    }
    .side_btns.desktop__view {
        display: none;
    }
    .productSummary {flex-direction: column;align-items: center;}

    .productSummary__imgPrice {width: 100%;max-width: 200px;text-align: center;margin-bottom: 10px;}

    .productSummary__titleSeeMore {width: 100%;max-width: 220px;margin-top: 6px;}

    .productSummary__titleSeeMore__seeMore {margin-top: 10px;}

    .Jeeliz_btns {
        z-index: 9999999999;
        display: flex;
        margin-right: 15px;
        width: 100%;
        position: absolute;
        background: #fff;
        max-width: 300px;
        margin: 0;left: -999%;transform: translateX(-990%);transition: .5s;height: 100vh;background: #fff;}
    #JeelizVTOWidgetCanvas {
        width: 100% !important;
        object-fit: cover;
    }

    .Jeeliz_btns.menu-change {
        left: 0;
        transform: translateX(0);
    }

    .container-menu {

        display: block;
    }
    .header {height: auto;padding: 11px 0px;}

    .headerTitle {font-size: 22px;max-width: 174px;margin: auto;}

    .container-menu {
        left: 15px;
        top: 20px;
    }


}


@media (max-width: 576px) {


}


